.wrapper-person {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
/*	width: 60%;*/
	margin: 10px auto;
}

.person {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.foto-person {
	width: 40%;
}

.foto-person img {
	display: block;
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px;
}

.about-person {
	width: 60%;
}

.about-person h3 {
	font-family: 'Gabriela', serif;
	font-size: 2rem;
	text-align: center;
	color: darkblue;
	text-shadow: 2px 1px 5px;
}

.about-person h4 {
	font-size: 1.5rem;
	text-align: center;
	color: #008080;
	margin: 10px 0;
	font-style: italic;
}

.about-person p {
	font-size: 1.2rem;
	text-align: center;
	font-style: italic;
}

.wrapper-img {
	width: 90%;
	margin: 10px auto;
}

.wrapper-img img {
	width: 100%;
	border-radius: 10px;
}

.wrapper-text > p.shtatni-vykladachi {
	text-indent: 0;
	font-weight: bold;
	margin-left: 40px;
}

.bg-ligthgreen {
	background-color: rgba(220, 250, 220, 0.4);
}

.bg-ligthblue {
	background-color: rgba(220, 220, 250, 0.4);
}

.bg-ligthred {
	background-color: rgba(250, 220, 220, 0.4);
}