.wrapper-methodcabinet {
/*	width: 60%;*/
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.wrapper-methodcabinet img {
	width: 45%;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px;
}

.wrapper-methodcabinet div h3 {
	margin-bottom: 20px;
	font-family: 'Gabriela', serif;
	font-size: 1.5rem;
	text-align: center;
}

.wrapper-methodcabinet div {
	width: 50%;
}

.wrapper-methodcabinet div p {
	text-align: center;
}

.link-mc {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	background-color: #337ab7;
	text-decoration: none;
	color: white;
	text-indent: 0;
}

p .link-mc {
	margin-left: 2rem;
}